@use '../../../Styles/Mixins'
@import '../../../Styles/Variables'

.background
	background-color: #F2F2F2
	display: flex
	justify-content: center

	p
		margin: 0
	
.wrapper
	width: 78%
	align-content: right
	justify-content: start
	display: flex
	flex-direction: column
	margin-bottom: 30px
		
.header
	display: flex
	height: 40px

.editButton
	position: relative
	right: -45%
	margin-top: -5px
	width: 40px
	height: 40px
	background-image: url('../../../assets/Icons/IconEdit.png')
	background-position: center
	background-repeat: no-repeat
	transition: .2s
	border: none

.editButton:hover
	transform: scale(1.15)

.servicesList
	display: flex
	justify-content: space-around
	align-items:  center
	

.buttonList
	display: flex
	margin-block: auto
	text-align: left
	text-justify: center
	

.crossButton	
	background-color:  transparent
	background-image: url('../../../assets/Icons/IconCross.png')
	height: 40px
	width: 40px
	border: none
	color: $secondaryColor
	transition: .2s
	align-items: center
	margin-right: -2%
	margin-top: 1%
	z-index: 1

.serviceItem
	display: block
	width: 48%
	margin-bottom: 15px

.serviceDescription
	background-color: #ffffff
	height: 45px
	width: 100%
	padding: 0px 15px
	font-family: 'K2D', sans-serif
	font-size: 18px
	font-style: normal
	font-weight: normal
	box-sizing: border-box
	border-radius: 10px
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1)
	transition: .2s
	margin-block: 5px
	padding-inline-start: 30px
	display: flex
	align-items: center

.column1
	@include Mixins.font($secondaryColor, 30px, bold, normal)
	margin-bottom: 0
	padding: 0
	text-align: left
	margin-left: 6%

.priceList
	display: block
	width: 15%
	margin-bottom: -2px

.column2
	@include Mixins.font($secondaryColor, 18px, bold, normal)
	text-align: center
	
.contratList
	@include Mixins.font($primaryColor, 18px, bold, normal)
	justify-content: end
	display: block
	width: 30%	
	margin-bottom: 10px

.table
	border-collapse: collapse
	border-color: white
	border: none

.servicePrice
	background-color: #ffffff
	color: $secondaryColor
	height: 45px
	width: 100%
	padding: 0px 15px
	font-family: 'K2D', sans-serif
	font-size: 18px
	font-style: normal
	font-weight: normal
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1)
	box-sizing: border-box
	border-radius: 10px
	transition: .2s
	margin-block: 10px
	display: flex
	align-items: center
	justify-content: center

.contratItem
	background-color: $primaryColor
	height: 45px
	width: 100%
	padding: 0px 15px
	font-family: 'K2D', sans-serif
	font-size: 18px
	font-style: normal
	font-weight: normal
	color: #ffffff
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1)
	box-sizing: border-box
	border-radius: 10px
	transition: .2s
	margin-block: 10px
	display: flex
	align-items: center
	justify-content: center

.textData
	@include Mixins.textGrey(left, none)

.deleteIcon
	margin: 0px 10px
	width: 40px
	height: 40px
	background-image: url('../../../assets/Icons/IconCross.png')
	background-position: center
	background-repeat: no-repeat
	border: none

.textAlert
	padding: 10px 10px
	@include Mixins.textDetail(left, none)


