@use '../../Styles/Mixins'
@import '../../Styles/Mixins'

.background
    background-color: #F2F2F2
    

.dashboardWrapper
    width: 80%
    display: flex
    flex-direction: row
    justify-content: space-between
    margin-bottom: 70px 
    margin-inline: auto   

.containerLeft
    width: 50%
    @include Mixins.font($primaryColor, 35px, bold, normal)
    margin: 10px
    padding: 5px
    justify-content: space-around
	

.divMasBuscados
    width: 100%
    display: block
    height: fit-content
    @include Mixins.font($tertiaryColor, 18px, normal, normal)
    margin-top: 10px
    margin-inline: auto
    padding-inline: 10px

.cardMasBuscados
    width: 100%

.title
    width: fit-content
    margin-left: 30px  
    margin-block: 0px
    text-align: left
    @include Mixins.font($primaryColor, 35px, bold, normal)    

.divPersonasQueTeBuscaron
    width: 100%
    display: flex
    height: fit-content
    @include Mixins.font($tertiaryColor, 18px, normal, normal)
    @include Mixins.boxShadowCard
    margin-top: 20px
    margin-inline: auto
    padding: 5px

.divHistorialpagos
    width: 100%
    height: fit-content
    @include Mixins.font($tertiaryColor, 18px, normal, normal)
    @include Mixins.boxShadowCard
    margin-top: 20px
    margin-inline: auto
    padding: 5px

.containerRight
    width: 50%
    @include Mixins.font($primaryColor, 35px, bold, normal)
    margin: 10px
    padding: 5px
    justify-content: space-around

.divPromedioDeCalific
    width: 100%
    display: flex
    margin-top: 20px
    height: fit-content
    @include Mixins.font($tertiaryColor, 18px, normal, normal)
    @include Mixins.boxShadowCard
    margin: 20px
    padding: 5px

.divUltimoComent
    width: 100%
    display: flex
    height: fit-content
    @include Mixins.font($tertiaryColor, 18px, normal, normal)
    @include Mixins.boxShadowCard
    margin: 20px
    padding: 5px
	
.divHitorialServicios
    width: 100%
    height: fit-content
    @include Mixins.font($tertiaryColor, 18px, normal, normal)
    @include Mixins.boxShadowCard
    margin: 20px
    padding: 5px

.h2HistoriaServ
    @include Mixins.font($primaryColor, 22px, normal, normal)
    text-align: left
    margin-left: 20px
    