@use '../../../Styles/Mixins'
@import '../../../Styles/Variables'

.background
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-top: 30px

.wrapper
    display: flex
    justify-content: space-between
    width: 80%
    height: fit-content

.title
    margin: 0
    text-align: left
    @include Mixins.font($primaryColor, 35px, bold, normal)

.editButton
    position: relative
    top: 5px
    margin-left: auto
    width: 40px
    height: 40px
    background-image: url('../../../assets/Icons/IconEdit.png')
    background-position: center
    background-repeat: no-repeat
    background-color: white
    transition: .2s
    border: none
    cursor: pointer

.editButton:hover
    transform: scale(1.1)

.infoWrapper
    width: 80%
    height: fit-content
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    flex-wrap: wrap
    gap: 20px
    margin-top: 15px
    padding: 30px
    box-sizing: border-box
    @include Mixins.boxShadowCard

.interes
    width: fit-content
    height: fit-content
    padding: 8px 20px
    @include Mixins.font(white, 20px, bold, normal)
    border: none
    background-color: $secondaryColor
    border-radius: 10px
    transition: .2s
    cursor: pointer

.interes:hover
    transform: scale(1.1)

.noInfo
    width: 100%
    text-align: center
    @include Mixins.font($grey, 18px, normal, normal)

.crossButton
    background: none
    background-image: url('../../../assets/Icons/IconCross.png')
    height: 40px
    width: 40px
    border: none
    position: relative
    left: -20px
    top: -20px
    margin-block: auto
    transition: .2s
    cursor: pointer

.crossButton:hover
    transform: scale(1.1)