$primaryColor : #A64208
$hoverColor : #b45d2b
$secondaryColor : #730707
$tertiaryColor : #260303

$textPrimaryColor : #260303
$textSecondaryColor : #666666
$textSuccessColor : #22B573
$textFailureColor : #D95555

$alertColor : #F2B138