$primaryColor : #D95555
$hoverColor : #ff6565
$secondaryColor : #59100A
$tertiaryColor : #260303

$textPrimaryColor : #260303
$textSecondaryColor : #666666
$textSuccessColor : #22B573
$textFailureColor : #D95555

$alertColor : #F2B138