.edit{
    position:relative;
    display: flex;
	border: 2px solid black;
    margin-top: 0;
    margin-right: 0;
	 width: 20px;
     height: 20px;
}
.container{
    border: 2px solid black;
	height: fit-content;
	margin-top: 10px;
    padding: 5px;
    margin-inline: auto;
}
.skillsContainer{
    border: 2px solid rgb(141, 26, 26);
    height: 300px;
    margin-inline: auto;
	width: 90%;
}
.userDetails{
    border: 2px solid rgb(23, 153, 62);
	 margin-inline: auto;
     margin-top: 5px;
	 width: 90%;
     height: 90%;
}
.delete{
    border: 2px solid black;
	 margin-top: 0;
	 margin-right: 0;
	 width: 20px;
     height: 20px;
}