@use '../../Styles/Mixins.sass' as *;
@import '../../Styles/Variables.sass';

.wrapper {
  @include flexbox(column, center, center);
    width: 100%;
    margin: 20px 0 20px 0;
    padding: 0; 
    
    .container_header{
      @include flexbox(null, space-between, null);
      width: 80%;

      div{
        display: flex;
      };

      h2, h3{
        @include font($secondaryColor, 24px, bold, normal);
      };
    };

    table {
        border-collapse: separate;
        border-spacing: 0 10px;
        @include boxShadowCard;
        width: 80%;

        thead {
            th {
                padding: 15px 10px;
                @include font($secondaryColor, 18px, bold, normal);
            };
        };

        tbody {

            tr {
                background-color: rgb(245, 245, 245);

                td {
                    padding: 10px;
                    @include font($secondaryColor, 18px, normal, normal);
                };
            };
        }
        .mail{
            @include buttonTables(#A64208);
        };
        .mail:hover{
            @include buttonTables(#cd6b32);
            transform: scale(1.22)
        }
        .activo{
            @include buttonTables(#22B573);
        };
        .activo:hover{
            @include buttonTables(#2ad98a);
            transform: scale(1.22)
        };
        .inactivo{
            @include buttonTables(#F2B138);
            color: black;
        };
        .inactivo:hover{
            @include buttonTables(#f6bf58);
            transform: scale(1.22);
            color: black;
        };
        .cancelar{
            @include buttonTables(#D95555);
        };
        .cancelar:hover{
            @include buttonTables(#d67f7f);
            transform: scale(1.22)
        };
    };
};

   