.edit {
    position: relative;
    display: flex;
    border: 2px solid black;
    margin-top: 0;
    margin-right: 0;
    width: 20px;
    height: 20px;
}

.container {
    border: 2px solid black;
    height: fit-content;
    margin-top: 10px;
    padding: 5px;
    margin-inline: auto;
}
.skillname {
    font-size: large;
    font-weight: bold;
}

.skillsCont {
    border: 2px solid rgb(141, 26, 26);
    height: fit-content; /* Change from fixed height to fit-content */
    margin-inline: auto;
    width: 90%;
}

.header { /* Corrected the typo in class name */
    border: 2px solid rgb(23, 153, 62);
    display: flex;
    justify-content: space-between;
    margin-inline: 5px;
    margin-top: 5px;
    width: fit-content;
    height: 20px;
}

.delete {
    border: 2px solid black;
    margin-top: 0;
    margin-right: 0;
    width: 20px;
    height: 20px;
}
