@use '../../../Styles/Mixins.sass' as *;
@import '../../../Styles/Variables.sass';


.wrapper {
  width: 50%;
  height: fit-content;
  @include flexbox(column, center, center);
  margin: 20px 0 20px 0;
}

.container__button{
  display: flex;
}

.container__recaptcha{
  display: flex;
  justify-content: center;
  margin: 20px 0 10px 0;
}

.Form {
  width: 85%;
 
  .FormDivInputFlex {
    @include flexbox(column, null, null);
  }

  label {
    text-align: left;
    margin: 0px 0px 5px 0px;
    @include font($secondaryColor, 18px, normal, normal);
  }

  input {
    @include inputsFormat
  }

  input:focus {
    @include inputsFormat_Hover
  }

  input::placeholder {
    @include inputsFormat_Placeholder
  }

  textarea {
    height: 100px;
    padding: 10px 15px;
    @include font($secondaryColor, 16px, normal, normal);
    box-sizing: border-box;
    border: 2px solid $secondaryColor;
    border-radius: 10px;
    transition: .2s;
    resize: none;
  }

  textarea:focus {
    @include inputsFormat_Hover
  }

  textarea::placeholder {
    @include inputsFormat_Placeholder
  }

  button {
    width: 100%;
    margin: 20px 0px 30px 0px;
    @include buttonActive;
    cursor: pointer;
    transition: .2s;
  }

  button:hover {
    @include buttonHover
  }

  button:active {
    @include buttonPressed
  }
}

.errorMessage {
  @include errorMessage;
  font-size:large;
}