@use '../../Styles/Mixins.sass' as *;
@import '../../Styles/Variables.sass';

.background{
    width: 100%;
    height: fit-content;
    @include flexbox(column, center, center);

}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include flexbox(column, center, center);
}