@use '../../Styles/Mixins' as *;
@import '../../Styles/Variables';

.container {
    @include flexbox(row, space-evenly, center);
    
    div {
        height: 150px;
        width: 165px;
        background-color: rgb(255, 255, 255);
        @include flexbox(column, center, center);
        border-radius: 10px;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5) 
    }

    h2 {
        @include font($primaryColor, 2.25rem, bold, normal);
        margin: 0;
    }
    
    p {
        @include font($textPrimaryColor, 1rem, normal, normal);
        margin: 0;
    }


}

.scrolled {
    transform: scale(1.25);
    transition: transform 0.3s;
}


