.container {
    display: flex;
    justify-content: space-evenly;
}

.div {
    height: 150px;
    width: 175px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

.container h2 {
    font-size: 2.25rem;
    color: #D95555;
    font-weight: bold;
}

.container p {
    font-size:small
}