.footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 350px;
    background-color: #260D0D;
    color: white;
    align-items: center;
    text-align: left;
}

.footer__container__menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}

.a {
    display: block;
    margin-bottom: 20px;
}

.footer__container__tecnologias{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 38%;
}

.footer__container__tecnologias div{
    display: flex;
    gap: 10px;
}

.footer__container__tecnologias img{
    background-color: white;
    border-radius: 5px;
    padding: 2px;
    width: 35px;
}