.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 568px;
    background-image: url('../../assets/image/recurso.png');
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    color: white;
    background-size: cover; 
    background-position: center; 
}

.hero__text{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 20px 0 20px;
}
.hero__text__subtitle{
    font-size: 1.2rem;
}
.hero__text__title{
    font-weight: bold;
    font-size: 2.5rem;
}

.hero__text__paragraph{
    text-align: justify;
    font-size: 1rem;
    margin: 20px 0 20px 0;
}

.hero__quote{
    width: 30%;
}

.hero__container__button{
    display: flex;
    margin-top: 20px;
     gap: 20px;
}
.hero__container__button .button{
    background-color: #D95555;
    height: 40px;
    width: 200px;
    border-radius: 7.5px;
    font-size: 1rem;
}

.statistics{
    width: 90%;
    margin-top: -3rem;
}
/* section ¿como funciona? */
.section{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
    height: 568px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.section__title{
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    color:#D95555;
}

.section__row{
    display: flex;
    margin-bottom: 60px;
    align-items: center;
}
.section__row1{
    height: 40%;
    display: flex;
    align-items: flex-end;
    
    
}

.section__row2{
    height: 60%;
    gap: 20px;
}

/* .section__column{
    border: 1px solid black;
} */
.section__column1{
    display: flex;
    justify-content: flex-end;
    width: 20%;   
}
.section__column2{
    width: 30%;
    
}
.section__column3{
    margin: 0 40px 0 40px;
    height: 300px;
    width: 300px;
    border: 1px solid #58130E;
    border-radius: 10px;
    overflow: hidden;
}

.section__icon{
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    width: 60px; /* Ancho del ícono */
    height: 60px; /* Altura del ícono */
    font-size: 3rem;
    font-weight: bold;
    border: 3px solid #D95555; /* Color del borde rojo */
    border-radius: 50%; /* Hace que el borde sea circular */
    color: #D95555; /* Color del número */
}
.section__link{
    font-size: 3rem;
    font-weight: bold;
    color:#58130E;
    display: flex;
    justify-content: flex-start;
}
.section__paragraph{
    color:#58130E;
    display: flex;
    text-align: left;
}

.section__iframe{
    height: 100%;
    
}

/* section registro */
.sectionregistro{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 368px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #58130E;
}

.sectionregistro__title{
    margin: 0 0 20px 0;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.sectionregistro__article{
    display: flex;
    gap: 50px;
}
.sectionregistro__button{
    background-color: white;
    color: #D95555;
    height: 40px;
    width: 150px;
    border-radius: 7.5px;
    font-size: 1.2rem;
}
