@use '../../Styles/Mixins' as *;
@import '../../Styles/Variables';

.wrapper {
    @include flexbox(column, center, center);
}

.introSection {
    width: 100%;
    height: fit-content;
    background: url('../../assets/LandingImages/LandingBack.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include flexbox(none, center, flex-start);
}

.introWrapper {
    width: 80%;
    margin: 150px 0px;
    @include flexbox(row, space-between, flex-end);
}

.introText {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .textSubtitle {
        @include font(white, 20px, normal, normal);
        @include margin-padding;
        text-align: left;
    }

    .textTitle {
        @include font(white, 50px, bold, normal);
        margin: 20px 0px;
        text-align: left;
        line-height: 55px
    }

    .textParagraph {
        max-width: 75%;
        @include font(white, 18px, normal, normal);
        margin: 20px 0px;
        text-align: justify;
    }
}

.buttonWrapper {
    display: flex;
    margin-top: 20px;
    gap: 30px;

    button {
        @include buttonActive;
      }
    
      button:hover {
        @include buttonHover
      }
    
      button:active {
        @include buttonPressed
      }
}

.introQuote {
    @include flexbox(column, center, flex-start);
    width: 27%;
    height: fit-content;

    .quoteIcon {
        width: 80px;
        height: 80px;
        background: url('../../assets/LandingImages/Comillas.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .quoteBox {
        width: 100%;
        height: fit-content;
        padding: 18px;
        box-sizing: border-box;
        background-color: white;
        border: 3px solid $alertColor;
        border-radius: 10px;
    }

    .quote {
        @include font($textPrimaryColor, 15px, normal, italic);
        @include margin-padding;
        text-align: left;
        margin: 0px 0px 10px 0px;
        line-height: 25px
    }

    .profileBox {
        @include flexbox(row, flex-start, center);
    }

    .profileImg {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid rgba(128, 128, 128, 0.3);
    }

    .profileName {
        @include font($textPrimaryColor, 15px, bold, normal);
        @include margin-padding;
        text-align: left;
        margin-left: 10px;
        line-height: 20px;

        span {
            @include font(#808080, 15px, normal, normal);
        }
    }
}

/* section statistics */
.statistics {
    @include flexbox(row, space-between, center);
    width: 80%;
    margin-top: -50px;
    padding-bottom: 80px;
    height: fit-content;

    .statsBox {
        width: 18%;
        height: fit-content;
        padding: 15px;
        box-sizing: border-box;
        @include boxShadowCard;
        @include flexbox(column, center, center);

        .iconExitos {
            width: 60px;
            height: 60px;
            background: url('../../assets/LandingImages/IconConnectionsLanding.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .iconServicios {
            width: 60px;
            height: 60px;
            background: url('../../assets/LandingImages/IconServicesLanding.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .iconFamilias {
            width: 60px;
            height: 60px;
            background: url('../../assets/LandingImages/IconClientsLanding.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .iconProveedores {
            width: 60px;
            height: 60px;
            background: url('../../assets/LandingImages/IconProviderLanding.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .statsTitle {
            @include margin-padding;
            @include font($primaryColor, 40px, bold, normal);
            line-height: 50px
        }

        .statsDescription {
            @include margin-padding;
            @include font($tertiaryColor, 20px, normal, normal);
        }
    }
}

/* section ¿como funciona? */
.tutorial {
    @include flexbox(column, center, center);
    width: 80%;
    padding: 100px 0px;
    height: fit-content;

    .tutorialQuestion{
        @include flexbox(column, center, center);
        width: 100%;
        height: fit-content;
    }

    .tutorialTitle{
        @include font($primaryColor, 60px, bold, normal);
        @include margin-padding;
        
    }

    .tutorialBtns{
        width: fit-content;
        height: fit-content;
        display: flex;
        gap: 20px;
        margin-top: 30px;
    }

    .tutorialBtn{
        border: none;
        background: none;
        padding: 5px 0px;
        @include font($textSecondaryColor, 20px, normal, normal);
        cursor: pointer;
    }

    .tutorialBtnPressed{
        border: none;
        border-bottom: 2px solid $primaryColor;
        background: none;
        padding: 5px 0px;
        @include font($primaryColor, 20px, normal, normal);
        cursor: pointer;
    }
}

/* section registro */
.sectionregistro {
    @include flexbox(column, center, center);
    width: 100%;
    height: fit-content;
    background-color: $secondaryColor;

    .registroBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 100px;

        .registroTitle{
            @include font(white, 40px, bold, normal);
            margin: 0px 0px 50px 0px;
        }

        .registroBtn {
            display: flex;
            gap: 30px;
        
            .Btn {
                width: fit-content;
                height: fit-content;
                padding: 10px 20px;
                border-radius: 10px;
                border: none;
                background-color: white;
                @include font($secondaryColor, 18px, normal, normal);
                cursor: pointer;
                transition: .2s;
        
            }
        
            .Btn:hover {
                transform: scale(1.1);
            }

            .Btn:active {
                @include buttonPressed
              }
        }
    }
}

