@use '../../Styles/Mixins.sass' as *;
@import '../../Styles/Variables.sass';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 440px;
  width: 80%;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;

  scroll-snap-type: x mandatory;

  &::-webkit-scrollbar {
    display: none;
  }

  .section {
    flex: 0 0 auto;
    width: 100%;

    scroll-snap-align: center;
    
    .section__row {
      display: grid;
      grid-template-columns: auto auto 50%;
      justify-content: center;
      align-items: center;
      gap: 40px;


      i {
        @include flexbox(null, center, center);
        width: 60px;
        height: 60px;
        @include font($primaryColor, 3rem, bold, normal);
        border: 3px solid $primaryColor;
        border-radius: 50%;
      }

      h2 {
        @include font($textPrimaryColor, 2.5rem, bold, normal);
        text-align: left;
      }

      p {
        @include font($textPrimaryColor, 1.5rem, normal, normal);
        text-align: left;
      }

      iframe {
        margin: 0;
        height: 350px;
        width: 350px;
        border: 1px solid gray;
        border-radius: 10px;

        justify-self: center;
        align-self: center;

      }
    }

  }
}