@use '../../Styles/Mixins.sass' as *;
@import '../../Styles/Variables.sass';

.container {
  @include flexbox(column, center, center);
  width: 100%;

  .container__a {
    display: flex;
    justify-content: flex-end;
    width: 40%;
    margin-top: 20px;
  }

  a {
    display: inline-block;
    @include font($textPrimaryColor, 18px, normal, normal);
    text-decoration: none;
  }
}

.textTitle {
  margin: 30px 0px 10px 0px;
  @include font($primaryColor, 25px, bold, normal);
}