@use '../../Styles/Mixins.sass' as *;
@import '../../Styles/Variables.sass';

 .container {
    
    @include flexbox(row, center, center);
    width: 100%;
    margin: 0;
    padding: 0;
    
    gap: 10px;

    button {
        @include buttonActive;

        &:hover {
            @include buttonHover;
        }

        &:active {
            @include buttonPressed;
        }
    }

} 

.select{
    border: 3px solid red;
}